@charset "utf-8";


body {
    padding-top: 100px;
    background: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #2D2D2D;
    line-height: 26px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
}
a {
    color: #45aed6;
    -webkit-transition: color 400ms, background-color 400ms;
    -moz-transition: color 400ms, background-color 400ms;
    -o-transition: color 400ms, background-color 400ms;
    transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #2a95be;
}
hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}
.gradiant {
    background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
    background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
    background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
    margin-bottom: 50px;
}
.section-header .section-title {
    font-size: 38px;
    color: #000000;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 10px;
    margin: 0 0 20px;
}
.section-header .section-title:before {
    content: "";
    position: absolute;
    width: 140px;
    bottom: 0;
    left: 50%;
    margin-left: -70px;
    height: 4px;
}

.btn {
    border-width: 0;
    border-radius: 0;
    background: #FF5761;
    padding: 10px 15px;
    color: #fff;
}
.btn.btn-primary {
    background: transparent #FF5761;
    border: 1px solid #FFFFFF;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background: #FF5761;
    border: 1px solid #FF5761;
}
.column-title {
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    position: relative;
}
.column-title:after {
    content: " ";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 40%;
    border-bottom: 1px solid #FEFEFE;
}
ul.nostyle {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}
ul.nostyle i {
    color: #45aed6;
}
.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}
.navbar-toggle{
    border-radius: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border-color: #EFEFEF;}
.navbar-nav>li>a {
    text-transform: uppercase;
}
@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
/*************************
*******Header******
**************************/
#main-nav.navbar-default {/* background: #181A1C; */}
#main-nav.navbar-default .navbar-nav > li.active > a, #main-nav.navbar-default .navbar-nav > li.open > a, #main-nav.navbar-default .navbar-nav > li:hover > a {background: #FF5761;color: #FFFFFF;}
.navbar.navbar-default {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
    margin-top: 32px;
}
.navbar.navbar-default .navbar-brand {
    height: auto;
    padding: 22px 15px 21px;
    font-size: 36px;
}
@media only screen and (min-width: 768px) {
    #main-nav.navbar-default {
        background: #FFFFFF;
        -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.26);
    }
    #main-nav.navbar-default .navbar-nav > li > a {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .navbar-default .navbar-nav>li>a {
        color: #000000;
    }
    #main-nav.navbar-default .navbar-nav > li.active > a,
    #main-nav.navbar-default .navbar-nav > li.open > a,
    #main-nav.navbar-default .navbar-nav > li:hover > a {
        background: #FF5761;
        color: #FFF;
    }
    #main-nav.navbar-default .dropdown-menu {
        padding: 0 20px;
        min-width: 220px;
        background-color: rgba(26, 28, 40, 0.9);
        border: 0;
        border-radius: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        background-clip: inherit;
    }
    #main-nav.navbar-default .dropdown-menu > li {
        border-left: 3px solid transparent;
        margin-left: -20px;
        padding-left: 17px;
        -webit-transition: border-color 400ms;
        transition: border-color 400ms;
    }
    #main-nav.navbar-default .dropdown-menu > li > a { 
        padding: 15px 0;
        color:#A8A8A8; 
    }
    #main-nav.navbar-default .dropdown-menu > li:first-child > a {
        border-top: 0;
    }
    #main-nav.navbar-default .dropdown-menu > li.active,
    #main-nav.navbar-default .dropdown-menu > li.open,
    #main-nav.navbar-default .dropdown-menu > li:hover {
        border-left-color: #45aed6;
    }
    #main-nav.navbar-default .dropdown-menu > li.active > a,
    #main-nav.navbar-default .dropdown-menu > li.open > a,
    #main-nav.navbar-default .dropdown-menu > li:hover > a {
        color: #45aed6;
        background-color: transparent;
    }
}


#header-top{background-color: #f98b6e;}
#content{margin-top: 10px;}
.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:12px Arial;
    opacity: 1;
}
.widget_search form {margin-left: 10px;}
.error-message{color: #b94a48;}
.form-error{border-color: #b94a48;}
.inline-field{display: inline; width:49%;}

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #252525;
    background: #FF5761;
}
#footer a {
    color: #000;
}
#footer a:hover {
    color: #FFFFFF;
}
#footer ul {
    list-style: none;
    padding: 0;
    margin: 0 -7.5px;
}
#footer ul > li {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.09);
    padding: 3px 0;
    width: 31px;
    text-align: center;
}

/* Sidebar Widgets & Home Page Featured Widgets */
.widget{
    background: #f8f8f8;
    padding: 0 0 1.5em;
    overflow: hidden;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 0 1.5em;
}   
.widget-title, #home-page-featured .widget-title {
    color: #fff;
    background: #0072BC;
    padding: .5em 1.25em;
    margin: 0;
    margin-bottom: 1em;
    font-size:16px;
}
.widget-title a, #home-page-featured .widget-title a {
    color: #fff;
}
.widget ul, #home-page-featured .widget ul {
    margin: 0 1.25em;
}

/* Workarounds for lack of widget-content wrapper */
.tagcloud,
.textwidget,
.recentcommentsavatar,
#subscribe-blog,
.milestone-content,
.widgets-multi-column-grid,
.widgets-grid-layout,
#pd_top_rated_holder,
.widget_gravatar p,
.widget_image img,
.widget_goodreads embed,
.widget_goodreads img,
.widget_facebook_likebox iframe,
.widget-grofile h4,
.widget-grofile p,
.widget-grofile ul
.jetpack_subscription_widget form,
#home-page-featured .tagcloud,
#home-page-featured .textwidget,
#home-page-featured select,
#home-page-featured .recentcommentsavatar,
#home-page-featured #subscribe-blog,
#home-page-featured .milestone-content,
#home-page-featured .widgets-multi-column-grid,
#home-page-featured .widgets-grid-layout,
#home-page-featured #pd_top_rated_holder,
#home-page-featured .widget_gravatar p,
#home-page-featured .widget_image img,
#home-page-featured .widget_goodreads embed,
#home-page-featured .widget_goodreads img,
#home-page-featured .widget_facebook_likebox iframe,
#home-page-featured .widget-grofile h4,
#home-page-featured .widget-grofile p,
#home-page-featured .widget-grofile ul{
    margin: 0 1.25em;
}
.widget-grofile .grofile-thumbnail,
#home-page-featured .widget-grofile .grofile-thumbnail {
    padding: 0 1.25em;
}


@media only screen and (min-width: 768px) {
    #footer .social-icons {
        float: right;
    }
}
